annotated-types==0.5.0
asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
contourpy==1.1.0
cycler==0.11.0
Django==4.2.3
django-bootstrap-v5==1.0.11
ffmpeg-python==0.2.0
fonttools==4.40.0
future==0.18.3
idna==3.4
inflect==7.0.0
kiwisolver==1.4.4
matplotlib==3.7.2
numpy==1.25.1
packaging==23.1
Pillow==10.0.0
ping3==4.0.4
pydantic==2.0.2
pydantic_core==2.1.2
pyparsing==3.0.9
python-dateutil==2.8.2
python-nmap==0.7.1
requests==2.31.0
scapy==2.5.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==2.0.3
