{% extends 'base.html' %}

{% load bootstrap5 %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3 class="display-6 text-white">Random Password Generator</h3>   
                <table class="table table-bordered">
                    <thead>
                        <th class="text-white">SN</th>
                        <th class="text-white">Password</th>
                    </thead>
                    <tbody>
                        {% for password in password_list %}
                        <tr>
                            <td class="text-white">{{forloop.counter}}</td>
                            <td class="text-white">{{password}}</td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 m-2">
                <div class="router">
                    <div class="body">
                        <div class="antena antena_1"></div>
                        <div class="antena antena_2"></div>
                        <div class="lights">
                            <div class="light"></div>
                            <div class="light"></div>
                            <div class="light"></div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button id="openLoginForm" class="btn btn-secondary">Open Login</button>
                </div>
                <div class="login-modal" id="loginModal" style="z-index: 99999;">
                    <div class="login-content d-flex">
                        <h4 class="text-dark">Welcome to router Login</h4>
                        <form id="loginform" action="{% url 'nma_service:password_generator' %}" >
                            {% csrf_token %}
                            <label for="username" class="text-white">Username</label>
                            <input type="text" name="username" id="username" placeholder="username" value="admin">
                            <label for="password" class="text-white">Password</label>
                            <input type="text" name="password" id="username" placeholder="password" value="admin">
                            <input type="submit" value="Submit" class="btn btn-secondary"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}